@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="container d-flex">
        <div class="col-sm-4 d-inline-block p-0">
            <a class="btn btn-primary" asp-controller="Directions" asp-action="Create">Добавить</a>
            <a class="btn btn-primary" id="linkEditDirection" asp-controller="Directions" asp-action="Edit">Изменить</a>
            <a class="btn btn-primary" id="linkDeleteDirection" asp-controller="Directions" asp-action="Delete">Удалить</a>
            
            <div id="jstree">
            </div>
        </div>
        <div class="col-sm-7 d-inline-block p-0">
            <div id="gridContainer"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="add-direction" tabindex="-1" role="dialog" aria-labelledby="addDirectionsLabel" aria-hidden="true">
    <div id="AddContent">
    </div>
</div>
@section scripts
{
    <link rel="stylesheet" href="~/lib/JsTree/dist/themes/default/style.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
    <script src="~/lib/JsTree/dist/jstree.min.js"></script>
    <script src="~/js/common.js"></script>
}


