@model Zyfra.DbModel.Direction
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="DateCreated" class="form-control" type="hidden" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    @{
        if (ViewBag.HasAnyDirections)
        {
            <div class="form-group">
                <label asp-for="ParentDirectionId" class="control-label"></label>
                <select asp-for="ParentDirectionId" class="form-control" asp-items="ViewBag.DirectionId">
                    <option selected="selected" disabled="disabled">Выберите подразделение</option>
                </select>
            </div>
        }
    }
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>
