@model Zyfra.DbModel.Direction

@{
    ViewData["Title"] = "Create";
}

<h1>Добавить</h1>

<h4>Подразделение</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        @{await Html.RenderPartialAsync("_FormCreate");}

    </div>
</div>
<div>
    @{await Html.RenderPartialAsync("_LinkToBack");}
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
